body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: hsl(4, 90%, 68%);
  }
  
  a {
    text-decoration: none;
  }
  
  aside {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fcfcfb;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:200%;
  }
  
  .brand {
    width: 80px;
  }
  
  .user {
    font-weight: bold;
    padding-top: 10px;
  }
  
  main {
    margin-left: 210px;
  }
  
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    padding: 10px 20px;
    margin: 5px 0 5px 0;
    display: block;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
  }
  
  nav a:hover {
    background-color:#fc2e2e;
  }
  
  nav .icon {
    width: 25px;
    float: left;
    padding-right: 10px;
  }
  
  .info {
    background-color: #f5f7fa;
    padding: 20px;
    margin-top: 10px;
  }
  
  table {
    margin: 15px 0;
    border: 1px solid #fc2e2e;
    border-collapse: collapse;
    width: 75%;
    align-self: center;
  }
  
  table th {
    border: 1px solid #fc2e2e;
    padding: 8px;
    background-color: #fc2e2e;
  }
  
  table td {
    border: 1px solid #f03423;
    padding: 8px;
  }
  
  .btn {
    background-color: #7d0f05;
    border-radius: 4px;
    color: #ffffff;
    padding: 5px;
  }
  
  .btn:hover {
    background-color: #f12424;
  }
  
  footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0 20px 10px;
    background-color:#f43d3d;
    border: 5px solid #ffffff;
    text-align: center;
    color: #ffffff;
    width: 83%;
    font-weight: bold;
    font-style: italic;
}